* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 30;
  list-style: none;
}

table,
td,
th {
  border-collapse: collapse;
  margin: 10;
  padding: 3;
  border: 3px solid;
  text-align: center;
}

a{
    text-decoration: none;
    color: green;
    background-color: rgb(1, 240, 216);
    font-size: 30px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 10px;

}

p{
  margin-top: 20;
  margin-bottom: 20;
}

.my-body{
  padding: 5;
  margin: 5;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}